body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.container
{
    background: url(../img/jBrF7i.webp);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
a
{
    background-color: orangered;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
}