html
{
    text-align: center;
}
.content-1
{
    /* background-color: #00aeef; */
}
.content-1 span
{
    background-color: #8598cc;
    width: 190px;
    height: 50px;
    display: inline-block;
    /* vertical-align: middle; */
}
.content-2 h1 span:nth-child(2)
{
    color: #00aeef;
}
.content-2 h1 span:nth-child(3)
{
    color: #00aeef;
}
.content-4 a
{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 10px;
    border-radius: 5px;
}